<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><%= name %></title>
		<link rel="stylesheet" type="text/css" href="resume.css">
	</head>

	<body>
		<div id="resume">
			<!-- HEADER -->
			<h1><%= name %></h1>

			<!-- CONTACT INFORMATION -->
			<ul>
				<% contact.forEach(function(item){ %>
    				<li><%= item %></li>
  				<% }); %>
			</ul>

			<!-- SUMMARY (optional) -->
			<% if(summary != undefined && summary.length > 0) { %>
				<p><%= summary %></p>
			<% } %>

			<!-- BODY CONTENT -->
			<% sections.forEach(function(section){ %>
    			<h2><%= section.title %></h2>
    			<% if(section.list != undefined && section.list.length > 0) { %>
    				<ul>
						<% section.list.forEach(function(element){ %>
							<li><%= element %></li>
						<% }); %>
					</ul>
    			<% } %>

    			<% if(section.items != undefined && section.items.length > 0) { %>
    				<% section.items.forEach(function(item){ %>
    					<h3><span><%= item.name %></span> <span><%= item.from %> - <%= item.to %></span></h3>
    					<% if(item.summary != undefined && item.summary.length > 0) { %>
    						<p><%= item.summary %></p>
    					<% } %>

    					<% if(item.list != undefined && item.list.length > 0) { %>
    						<ul>
							<% item.list.forEach(function(element){ %>
								<li><%= element %></li>
							<% }); %>
							</ul>
						<% } %>
    				<% }); %>
    			<% } %>
  			<% }); %>
		</div>
	</body>
</html>